<div class="cyberpunk cyberpunk-card flexcol">
    <h2>{{#if action.name}}{{action.name}}{{else}}{{CPLocal "Attack"}}{{/if}}</h2>
    <div class="field-list one-col">
        <div class="field">
            <span>{{CPLocal "Attacker"}}: </span>
            <span class="flex-pad">{{attacker.name}}</span>
        </div>
        {{#if weapon.name}}
        <div class="field">
            <span>{{CPLocal "Weapon"}}: </span>
            <span class="flex-pad">{{weapon.name}}</span>
        </div>
        {{/if}}
        {{#if action.fireMode}}
        <div class="field">
            <span>{{CPLocal "FireMode"}}: </span>
            <span class="flex-pad">{{CPLocal action.fireMode}}</span>
        </div>
        {{/if}}
    </div>

    {{#if action.modifiers.length}}
    <div class="field-list one-col section-divider">
        <div class="field">
            <strong>{{CPLocal "AttackModifiers"}}:</strong>
        </div>
        {{#each action.modifiers as |mod|}}
        <div class="field">
            <span>{{CPLocal mod.code}}: </span>
            <span class="flex-pad">{{mod.value}}</span>
        </div>
        {{/each}}
    </div>
    {{/if}}

    {{#each targets as |targetOutcome|}}
        <div class="field-list one-col section-divider">
            <div class="field">
                <span>{{CPLocal "Target"}}: </span>
                <span class="flex-pad">{{targetOutcome.target.name}}</span>
            </div>
            {{#if (hasProperty targetOutcome.attack "total")}}
                <div class="field">
                    <span>{{CPLocal "Attack"}}: </span>
                    <span>{{targetOutcome.attack.total}}</span>
                    {{#if targetOutcome.attack.formula}}
                        <span class="formula formula-text">({{targetOutcome.attack.formula}})</span>
                    {{/if}}
                    <span class="flex-pad"></span>
                    <span class="roll-results">
                        {{#each targetOutcome.attack.die.subrolls as |subroll|}}
                            <span class="roll-result roll die {{subroll.classes}}">{{subroll.result}}</span>
                        {{/each}}
                    </span>
                </div>
                {{#if targetOutcome.attack.targetNumber}}
                <div class="field">
                    <span>{{CPLocal "ToHit"}} (DC): </span>
                    <span class="flex-pad">{{targetOutcome.attack.targetNumber}}</span>
                </div>
                {{/if}}
                {{#if (hasProperty targetOutcome.attack "roundsFired")}}
                <div class="field">
                    <span>{{CPLocal "RoundsFired"}}: </span>
                    <span class="flex-pad">{{targetOutcome.attack.roundsFired}}</span>
                </div>
                {{/if}}
                {{#if (hasProperty targetOutcome.attack "roundsFiredPerTarget")}}
                <div class="field">
                    <span>{{CPLocal "RoundsPerTarget"}}: </span>
                    <span class="flex-pad">{{targetOutcome.attack.roundsFiredPerTarget}}</span>
                </div>
                {{/if}}
                {{#if (hasProperty targetOutcome.attack "hitCount")}}
                <div class="field">
                    <span>{{CPLocal "HitCount"}}: </span>
                    <span class="flex-pad">{{targetOutcome.attack.hitCount}}</span>
                </div>
                {{/if}}
                {{#if targetOutcome.attack.modifiers.length}}
                <div class="field">
                    <strong>{{CPLocal "AttackModifiers"}}:</strong>
                </div>
                    {{#each targetOutcome.attack.modifiers as |mod|}}
                    <div class="field">
                        <span>{{CPLocal mod.code}}: </span>
                        <span class="flex-pad">{{mod.value}}</span>
                    </div>
                    {{/each}}
                {{/if}}
                <div class="field">
                    <span>{{CPLocal "Result"}}: </span>
                    <span class="flex-pad">
                        {{#if targetOutcome.attack.notFired}}
                            <strong class="outcome-not-fired">{{CPLocal "NotFired"}}</strong>
                        {{else if targetOutcome.attack.hit}}
                            <strong class="outcome-hit">{{CPLocal "Hit"}}</strong>
                        {{else}}
                            <strong class="outcome-miss">{{CPLocal "Miss"}}</strong>
                        {{/if}}
                    </span>
                </div>
                {{#if targetOutcome.attack.hit}}
                    <div class="field">
                        <span>{{CPLocal "Hits"}}: </span>
                        <span class="flex-pad">{{targetOutcome.hits.length}}</span>
                    </div>
                    {{#if targetOutcome.attack.burstHitsRoll}}
                    <div class="field">
                        <span>{{CPLocal "ThreeRoundBurst"}}: </span>
                        <span class="flex-pad">{{targetOutcome.attack.burstHitsRoll.total}}</span>
                    </div>
                    {{/if}}
                    {{#each targetOutcome.hits as |hit|}}
                        <div class="field">
                            <span>{{CPLocal "HitLocation"}}: </span>
                            <span class="flex-pad">{{CPLocal hit.location}}</span>
                        </div>
                        {{#if hit.damageRoll}}
                        <div class="field">
                            <span>{{CPLocal "Damage"}}: </span>
                            <span>{{hit.damageRoll.total}}</span>
                            {{#if hit.damageRoll.formula}}
                                <span class="formula formula-text">({{hit.damageRoll.formula}})</span>
                            {{/if}}
                            <span class="flex-pad"></span>
                        </div>
                        {{/if}}
                        {{#if hit.shotgun}}
                        <div class="field">
                            <span>Shotgun Spread: </span>
                            <span class="flex-pad">{{hit.shotgun.bracket}} / {{hit.shotgun.damageFormula}} / {{hit.shotgun.patternWidthMeters}}m</span>
                        </div>
                        <div class="field">
                            <span>Template: </span>
                            <span class="flex-pad">{{hit.shotgun.inclusion}} {{#if hit.shotgun.templateId}}({{hit.shotgun.templateId}}){{/if}}</span>
                        </div>
                        {{#if hit.shotgun.measuredDistance}}
                        <div class="field">
                            <span>Distance: </span>
                            <span class="flex-pad">{{hit.shotgun.measuredDistance.value}}{{hit.shotgun.measuredDistance.units}}</span>
                        </div>
                        {{/if}}
                        {{/if}}
                        {{#if (hasProperty hit "rawDamage")}}
                        <div class="field">
                            <span>{{CPLocal "RawDamage"}}: </span>
                            <span class="flex-pad">{{hit.rawDamage}}</span>
                        </div>
                        {{/if}}
                        {{#if hit.cover.provided}}
                        <div class="field">
                            <span>{{CPLocal "HitCover"}} ({{hit.cover.effectiveStoppingPower}} SP): </span>
                            <span class="flex-pad">
                                {{#if hit.cover.bypassed}}
                                    <strong class="outcome-miss">{{CPLocal "CoverBypassed"}}</strong>
                                {{else}}
                                    {{#if hit.cover.penetrated}}
                                        <strong class="outcome-hit">{{CPLocal "CoverPenetrated"}}</strong> ({{hit.rawDamage}} {{CPLocal "vs"}} {{hit.cover.effectiveStoppingPower}} SP)
                                    {{else}}
                                        <strong class="outcome-miss">{{CPLocal "CoverStoppedAttack"}}</strong>
                                    {{/if}}
                                {{/if}}
                            </span>
                        </div>
                        {{#if hit.cover.protectedLocations}}
                        <div class="field">
                            <span>{{CPLocal "CoverProtectedLocations"}}: </span>
                            <span class="flex-pad">
                                {{#each hit.cover.protectedLocations as |location|}}{{#unless @first}}, {{/unless}}{{CPLocal location}}{{/each}}
                            </span>
                        </div>
                        {{/if}}
                        <div class="field">
                            <span>{{CPLocal "CoverMitigation"}}: </span>
                            <span class="flex-pad">{{hit.cover.mitigation}}</span>
                        </div>
                        {{#if hit.cover.ablation}}
                        <div class="field">
                            <span>{{CPLocal "CoverAblation"}}: </span>
                            <span class="flex-pad">
                                {{#if hit.cover.ablation.applied}}
                                    {{hit.cover.ablation.before}} -> {{hit.cover.ablation.after}}
                                {{else}}
                                    {{hit.cover.ablation.before}}
                                {{/if}}
                            </span>
                        </div>
                        {{/if}}
                        {{/if}}
                        {{#if (hasProperty hit "armorMitigation")}}
                        <div class="field">
                            <span>{{CPLocal "Armor"}}: </span>
                            <span class="flex-pad">{{hit.armorMitigation}}</span>
                        </div>
                        {{/if}}
                        {{#if (hasProperty hit "bodyTypeMitigation")}}
                        {{#if (compare hit.bodyTypeMitigation "!==" null)}}
                        <div class="field">
                            <span>{{CPLocal "BTMShort"}}: </span>
                            <span class="flex-pad">{{hit.bodyTypeMitigation}}</span>
                        </div>
                        {{/if}}
                        {{/if}}
                        {{#if (hasProperty hit "finalDamage")}}
                        <div class="field">
                            <span>{{CPLocal "FinalDamage"}}: </span>
                            <span class="flex-pad">{{hit.finalDamage}}</span>
                        </div>
                        {{/if}}
                        {{#if (hasProperty hit "woundDamage")}}
                        <div class="field">
                            <span>{{CPLocal "WoundDamage"}}: </span>
                            <span class="flex-pad">{{hit.woundDamage}}</span>
                        </div>
                        {{/if}}
                    {{/each}}
                {{/if}}
            {{/if}}
        </div>
    {{/each}}

    {{#if (hasProperty ammo "delta")}}
    <div class="field-list one-col section-divider">
        <div class="field">
            <span>{{CPLocal "AmmoDelta"}}: </span>
            <span class="flex-pad">{{ammo.delta}} ({{ammo.after}} / {{ammo.before}})</span>
        </div>
    </div>
    {{/if}}

    {{#if warnings.length}}
        <div class="warnings warning-block">
            <strong>{{CPLocal "Warnings"}}:</strong>
            <ul>
                {{#each warnings as |warning|}}
                    <li>{{warning.message}}</li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    <div class="status-banner status-{{status}}">
        {{#if isPreview}}
            <span>{{CPLocal "PreviewStatus"}} - {{CPLocal "PreviewStatusDesc"}}</span>
        {{/if}}
        {{#if isCommitted}}
            <span>{{CPLocal "CommittedStatus"}} - {{CPLocal "CommittedStatusDesc"}}</span>
        {{/if}}
        {{#if isCanceled}}
            <span>{{CPLocal "CanceledStatus"}} - {{CPLocal "CanceledStatusDesc"}}</span>
        {{/if}}
        {{#if isManual}}
            <span>{{CPLocal "ManualStatus"}} - {{CPLocal "ManualStatusDesc"}}</span>
            {{#if manualResolution.reason}}
                <span class="manual-reason">({{manualResolution.reason}})</span>
            {{/if}}
            {{#if manualResolution.message}}
                <div class="manual-message">{{manualResolution.message}}</div>
            {{/if}}
        {{/if}}
    </div>
</div>
