<div class="field-list">
    {{> (template "fields/string") label="CyberwareType" edit="system.cyberwareType"}}
    {{> (template "fields/string") label="CyberwareSubtype" edit="system.cyberwareSubtype"}}
    {{> (template "fields/string") label="SurgeryCode" edit="system.surgCode"}}
    <div class="field">
        
        <label for="system.humanityCost">{{CPLocal "HumanityCostRoll"}}</label>
        <span class="flex-pad"></span>
        <input class="textsize" name="system.humanityCost" S
            type="text" value="{{system.humanityCost}}"/>
        <div class="humanity-cost-roll field-image action" style="background-image: url('../../../icons/svg/d10-grey.svg')"></div>
    </div>
    {{> (template "fields/number") label="HumanityLoss" edit="system.humanityLoss"}}
    {{> (template "fields/string") label="Abbrev" edit="system.abbrev"}}
    {{> (template "fields/number") label="Slots" edit="system.slots"}}
    {{> (template "fields/number") label="Spaces" edit="system.spaces"}}
    
    <div class="field">
        <label>Layer (Hard/Soft)</label>
        <span class="flex-pad"></span>
        <select name="system.layer" style="width: 120px;">
            <option value="" {{#if (eq system.layer "")}}selected{{/if}}>Auto</option>
            <option value="hard" {{#if (eq system.layer "hard")}}selected{{/if}}>Hard</option>
            <option value="soft" {{#if (eq system.layer "soft")}}selected{{/if}}>Soft</option>
        </select>
    </div>
    
    <div class="field">
        <label>{{CPLocal "Location"}}</label>
        <span class="flex-pad"></span>
        <select name="system.location" style="width: 120px;">
            <option value="" {{#if (eq system.location "")}}selected{{/if}}>None / Global</option>
            <option value="Head" {{#if (eq system.location "Head")}}selected{{/if}}>Head</option>
            <option value="Torso" {{#if (eq system.location "Torso")}}selected{{/if}}>Torso</option>
            <option value="rArm" {{#if (eq system.location "rArm")}}selected{{/if}}>R.Arm</option>
            <option value="lArm" {{#if (eq system.location "lArm")}}selected{{/if}}>L.Arm</option>
            <option value="rLeg" {{#if (eq system.location "rLeg")}}selected{{/if}}>R.Leg</option>
            <option value="lLeg" {{#if (eq system.location "lLeg")}}selected{{/if}}>L.Leg</option>
        </select>
    </div>
    {{> (template "fields/number") label="SDP" edit="system.sdp"}}
    
    <hr>
    {{> (template "fields/boolean") label="Is Full Body Conversion" edit="system.isFBC"}}
    {{#if system.isFBC}}
    <div class="field">
        <label style="flex: 2;">Limb</label>
        <label style="flex: 1; text-align: center;">Max SDP</label>
        <label style="flex: 1; text-align: center;">Base SP</label>
    </div>
    <div class="field-list" style="padding-left: 10px;">
        <div class="field" style="display: flex;">
            <label style="flex: 2;">Head</label>
            <input type="number" style="flex: 1; text-align: center;" name="system.fbcHitLocations.Head.sdp" value="{{system.fbcHitLocations.Head.sdp}}" title="Max SDP">
            <input type="number" style="flex: 1; text-align: center;" name="system.fbcHitLocations.Head.sp" value="{{system.fbcHitLocations.Head.sp}}" title="Base SP">
        </div>
        <div class="field" style="display: flex;">
            <label style="flex: 2;">Torso</label>
            <input type="number" style="flex: 1; text-align: center;" name="system.fbcHitLocations.Torso.sdp" value="{{system.fbcHitLocations.Torso.sdp}}" title="Max SDP">
            <input type="number" style="flex: 1; text-align: center;" name="system.fbcHitLocations.Torso.sp" value="{{system.fbcHitLocations.Torso.sp}}" title="Base SP">
        </div>
        <div class="field" style="display: flex;">
            <label style="flex: 2;">R.Arm</label>
            <input type="number" style="flex: 1; text-align: center;" name="system.fbcHitLocations.rArm.sdp" value="{{system.fbcHitLocations.rArm.sdp}}" title="Max SDP">
            <input type="number" style="flex: 1; text-align: center;" name="system.fbcHitLocations.rArm.sp" value="{{system.fbcHitLocations.rArm.sp}}" title="Base SP">
        </div>
        <div class="field" style="display: flex;">
            <label style="flex: 2;">L.Arm</label>
            <input type="number" style="flex: 1; text-align: center;" name="system.fbcHitLocations.lArm.sdp" value="{{system.fbcHitLocations.lArm.sdp}}" title="Max SDP">
            <input type="number" style="flex: 1; text-align: center;" name="system.fbcHitLocations.lArm.sp" value="{{system.fbcHitLocations.lArm.sp}}" title="Base SP">
        </div>
        <div class="field" style="display: flex;">
            <label style="flex: 2;">R.Leg</label>
            <input type="number" style="flex: 1; text-align: center;" name="system.fbcHitLocations.rLeg.sdp" value="{{system.fbcHitLocations.rLeg.sdp}}" title="Max SDP">
            <input type="number" style="flex: 1; text-align: center;" name="system.fbcHitLocations.rLeg.sp" value="{{system.fbcHitLocations.rLeg.sp}}" title="Base SP">
        </div>
        <div class="field" style="display: flex;">
            <label style="flex: 2;">L.Leg</label>
            <input type="number" style="flex: 1; text-align: center;" name="system.fbcHitLocations.lLeg.sdp" value="{{system.fbcHitLocations.lLeg.sdp}}" title="Max SDP">
            <input type="number" style="flex: 1; text-align: center;" name="system.fbcHitLocations.lLeg.sp" value="{{system.fbcHitLocations.lLeg.sp}}" title="Base SP">
        </div>
    </div>
    {{/if}}
</div>